<script>
    $(function() {
        getAllNewsBrief();

        $(document).off('click', '.yoga-open-popup').on('click', '.yoga-open-popup', function() {
            var param = "id="+$(this).data('news-id');
            callAjax('/websiteService/getNewsById', '', 'newsOpenPopup', '', '', param, '');
        });

        $('.yoga-nav-go-back').on('click', function (){ $('#tabbar .weui-tab__bd-item--content').load('mobileView/home.html'); });
});
</script>

<div class="yoga-nav-go-back">
    <img src="res/img/arrow_left_24px.png" >
</div>

<div class="page__bd">
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">瑜伽头条</div>
        <div class="weui-panel__bd">
        </div>
    </div>
</div>