<script>
    $(function() {
        $('.yoga-nav-go-back').on('click', function (){ $('#tabbar .weui-tab__bd-item--content').load('mobileView/home.html'); });
    });
</script>

<div class="yoga-nav-go-back">
    <img src="res/img/arrow_left_24px.png" >
</div>

<div class="page__bd">
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">遇见珈瑜生活馆</div>
        <div class="weui-panel__bd">
            <p style="line-height:1.5" class="weui-media-box weui-media-box_appmsg">
                &nbsp; &nbsp;&nbsp; &nbsp;遇见瑜伽创办的初心是集结一群热爱瑜伽、愿意分享生活的同修们，通过创造一个更接近瑜伽内涵的空间环境，配备专业的瑜伽教练，建立内在与外在自然的连接。
            </p>
            <p style="line-height:1.5" class="weui-media-box weui-media-box_appmsg p-padding-top-10px">
                &nbsp; &nbsp;&nbsp; &nbsp;遇见瑜伽位于中新生态城，地理位置优越，交通便利，环境优雅，配套设施完善。
            </p>
            <p style="line-height:1.5" class="weui-media-box weui-media-box_appmsg p-padding-top-10px">
                &nbsp; &nbsp;&nbsp; &nbsp;会馆主要开设中高端私教，针对个人练习需求进行私人订制，同时开设产后修复、维密体雕、塑臀瘦腿精品小班课，还有包括空中瑜伽、波速球燃脂，舞蹈类等特色课以及传统哈他，阴瑜伽，舞韵瑜伽，轮瑜伽，艾扬格，肩颈理疗等普通会员大课！
                另外，会馆有专业的孕产瑜伽，从备孕、孕期、产后修复到产后一年的维密体雕塑形课。针对孩子的，还有儿童瑜伽，青少年瑜伽，亲子瑜伽！
                会馆定期开设不同主题的沙龙，芳香精油、亲子活动、孕期安全、营养健康等等，还会邀请国内著名瑜伽导师来培训。
            </p>
            <img src="res/img/venue.jpg" style="width:100%;height:100%;">
        </div>
    </div>
</div>