<script>
    $(function() {
        $('.hehe-nav-go-back').on('click', function (){ $('#tabbar .weui-tab__bd-item--content').load('view/home.html'); });
    });
</script>

<div class="hehe-nav-go-back">
    <img src="res/img/arrow_left_24px.png" >
</div>

<div class="page__bd">
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">禾禾美学馆</div>
        <div class="weui-panel__bd">
            <p style="line-height:1.5" class="weui-media-box weui-media-box_appmsg">
                &nbsp; &nbsp;&nbsp; &nbsp;我们认为，学习艺术不只是培养艺术家，而是让每个孩子能通过艺术的启发，提高创意能力，找到自己的价值、发现独特的自己，让艺术融入生活。
            </p>
            <p style="line-height:1.5" class="weui-media-box weui-media-box_appmsg p-padding-top-10px">
                &nbsp; &nbsp;&nbsp; &nbsp;传统的美术教育只注重“术”的教育，也就是说只强调怎么画的技术，即使有一点艺术文化的部分也不是全面的成体系的。而我们强调的是“学”，不只是美术而是更广泛的美学，启发学生的创造力，培育学生的艺术文化知识，然后再去学习具体的表现技法。让学生们先认识艺术、体悟艺术再学习必要的技法表现艺术、表达自我。因此，我们在课程大纲中对艺术创意、艺术知识与表现技法划分了权重比例，所有课程安排均按照此权重比例安排。比如我们在3岁到9岁学生的课程中安排艺术常识和生活常识的内容；在9到15岁学生的课程中用一些艺术故事让学生初步了解美术史和当下艺术状态，用艺术欣赏的方式提高对艺术作品的鉴赏能力等等。
            </p>
            <p style="line-height:1.5" class="weui-media-box weui-media-box_appmsg p-padding-top-10px">
                &nbsp; &nbsp;&nbsp; &nbsp;禾禾美学馆是整合天津最好美学教育资源倾力打造的专业美学教育机构，教师由天津高校教师和天津美术学院硕士团队组成，由天津美术学院实验艺术学院院长、国际教育艺术学院院长李志强教授担任顾问。禾禾美学馆设有针对儿童的启蒙班、拓展班、针对少年的东方美学班、西方美学班、针对高中生的国画专业班、西画专业班，还有全年龄段的书法班和成人国画班、成人油画班。
            </p>
        </div>
    </div>
</div>