<div style="width:1200px;height: 400px; background-color:white;padding:10px;margin:0 auto;">
    <table style="width:100%">
        <tr style="height:50px">
            <td style="width:45%;text-align:right;font-size:20px;">会员手机</td>
            <td style="width:5%"></td>
            <td style="width:50%;text-align:left;"><input id="telTxt" type="text" style="border-radius: 5px;width: 200px;height: 30px;border: 1px solid black;"></td>
        </tr>
        <tr style="height:50px">
            <td style="width:45%;text-align:right;font-size:20px;">会员密码</td>
            <td style="width:5%"></td>
            <td style="width:50%;text-align:left;"><input id="passwordTxt" type="password" style="border-radius: 5px;width: 200px;height: 30px;border: 1px solid black;"></td>
        </tr>
        <tr style="height:50px">
            <td style="width:45%;text-align:right;"></td>
            <td style="width:5%"></td>
            <td style="width:50%;text-align:left;"><input id="submitBtn" type="button" value="查询" onclick="searchMemberExtInfoByTel();" style="border-radius: 5px;border: 0;background-color: black;color: white;width: 100px;height: 30px;"></td>
        </tr>
        <tr style="height:50px">
            <td style="width:45%;text-align:right;"></td>
            <td style="width:5%"></td>
            <td style="width:100%;text-align:left;">
                <span id="reminderTxt" style="font-size:16px;color:red;">测试账号: 13522658956, 密码: 123456</span>
            </td>
        </tr>
    </table>
</div>