<div style="width:100%;background-color:white;height:auto;padding: 10px;">
    <div>
        <div class="left">
            <img src="res/img/teacher/guwen.png">
            <div>顾问: 李志强</div>
        </div>
        <div class="left" style="margin-left: 50px;">
			<p></p>
            <p>教授 / 硕士生导师</p>
            <p>天津美术学院实验艺术学院 院长</p>
            <p>天津美术学院国际艺术教育学院 院长</p>
            <p>天津美术学院学术委员会 副主任</p>
            <p>中国美术家协会 理事 / 会员</p>
            <p>天津美术家协会美术教育专业委员会 常务副主任</p>
            <p>天津美术家协会少儿艺术委员会 副主任</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="placeholder"></div>

<div style="width:100%;background-color:white;height:auto;padding: 10px;">
    <div>
        <div class="left">
            <img src="res/img/teacher/liubo.png">
            <div>主管: 刘波</div>
        </div>
        <div class="left" style="margin-left: 50px;">
            <p>禾禾美学馆 教学主管</p>

            <p>天津美术学院 硕士</p>

            <p>曾担任北京绿阶梯美术工作室主讲教师</p>

            <p>8年教学经验</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="placeholder"></div>

<div style="width:100%;background-color:white;height:auto;padding: 10px;">
    <div>
        <div class="left">
            <img src="res/img/teacher/luchanghua.png">
            <div>教师: 路常华</div>
        </div>
        <div class="left" style="margin-left: 50px;">
            <p>天津理工大学艺术学院 讲师</p>

            <p>天津美术学院 硕士</p>

            <p>作品多次入选亚洲超越联盟设计展并在中、日、韩三国四地巡展</p>

            <p>参与第六届东亚运动会视觉形象设计</p>

            <p>3年教学经验</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="placeholder"></div>

<div style="width:100%;background-color:white;height:auto;padding: 10px;">
    <div>
        <div class="left">
            <img src="res/img/teacher/zhangfan.png">
            <div>教师: 张帆</div>
        </div>
        <div class="left" style="margin-left: 50px;">
            <p>天津商业大学艺术学院 讲师</p>

            <p>天津美术学院 硕士</p>

            <p>曾赴德国卡尔斯鲁厄美术学院交流学习</p>

            <p>作品多次在中德两国参展并获奖</p>

            <p>3年教学经验</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="placeholder"></div>

<div style="width:100%;background-color:white;height:auto;padding: 10px;">
    <div>
        <div class="left">
            <img src="res/img/teacher/cuiyiyuan.png">
            <div>教师: 崔译元</div>
        </div>
        <div class="left" style="margin-left: 50px;">
            <p>天津美术学院 硕士</p>

            <p>曾赴意大利佛罗伦萨美术学院交流学习</p>

            <p>曾长期担任天津少年宫少儿美术教师</p>

            <p>5年教学经验</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="placeholder"></div>

<div style="width:100%;background-color:white;height:auto;padding: 10px;">
    <div>
        <div class="left">
            <img src="res/img/teacher/caichongyang.png">
            <div>教师: 蔡重阳</div>
        </div>
        <div class="left" style="margin-left: 50px;">
            <p>天津美术学院 硕士</p>

            <p>曾赴法国土昆美术学院交流学习</p>

            <p>作品多次在中法两国展出</p>

            <p>3年教学经验</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="placeholder"></div>

<div style="width:100%;background-color:white;height:auto;padding: 10px;">
    <div>
        <div class="left">
            <img src="res/img/teacher/kewenfang.png">
            <div>教师: 柯文芳</div>
        </div>
        <div class="left" style="margin-left: 50px;">
            <p>云南艺术学院 硕士</p>

            <p>曾长期担任少儿美术机构教师</p>

            <p>多次获得创意美术优秀指导教师称号</p>

            <p>3年教学经验</p>
        </div>
        <div class="clear"></div>
    </div>
</div>