<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
    <link rel="stylesheet" type="text/css" href="../res/css/webPublic.css">
    <script src="../res/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.nav').load('nav.html');
        });

    </script>
</head>
<body>
<div class="nav"></div>

<div class="content" style="margin: 0 auto;width:1250px;padding:10px;background-color:white;">
    <p style="font-size:24px;line-height:50px;">    We are a company which provides an alternate investment involving the sale of antique silver coins (mainly from Qing Dynasty era) to potential investors.</p>
    <p style="font-size:24px;line-height:50px;">    Investors can resell the antique silver coins via these channels:-</p>
    <p style="font-size:24px;line-height:50px;">    1)	Via international auction houses (links provided)</p>
    <p style="font-size:24px;line-height:50px;">    2)	Via the Trading Section of our website</p>
    <p style="font-size:24px;line-height:50px;">    3)	Steady returns (return the antique coins with warranty sticker intact to our company after a period of 12 months)</p>
    <p style="font-size:24px;line-height:50px;">    We have carefully selected and procured the antique silver coins from our sources (after appraising the antique silver coins through reputable valuers in China).</p>
</div>
</body>
</html>