<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" type="text/css" href="../res/css/webPublic.css">
    <script src="../res/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.nav').load('nav.html');
        });

    </script>
    <style>
        p span{
            font-size: 24px;
            line-height: 40px;
        }
    </style>
</head>
<body>
<div class="nav"></div>

<div class="content" style="margin: 0 auto;width:1250px;padding:10px;background-color:white;">
    <p style="font-size:64px;">Email : coin.investmentsg@gmail.com</p>
</div>
</body>
</html>