<div class="navBackground">
    <div id="navDiv" class="navDiv" style="font-weight: bold;">
        <a href="contact.html" TARGET="_blank"><div>Contact us</div></a>
        <a href="investment.html" TARGET="_blank"><div>Investment Returns</div></a>
        <a href="selections.html" TARGET="_blank"><div>Selections</div></a>
        <a href="history.html" TARGET="_blank"><div>History</div></a>
        <a href="company.html" TARGET="_blank"><div>Company</div></a>
        <a href="../index.html"><img src="res/img/logo.png"  onerror="this.src='../res/img/logo.png'" style="line-height:85px;cursor:pointer;"></a>
    </div>
</div>
<div class="clear"></div>