<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selections</title>
    <link rel="stylesheet" type="text/css" href="../res/css/webPublic.css">
    <script src="../res/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.nav').load('nav.html');
        });


    </script>
</head>
<body>
<div class="nav"></div>
<div class="content" style="margin: 0 auto;width:1250px;background-color:white;padding:20px;">









    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/1899.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">1899 坐洋</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/yuandatou.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">
                中华民国3年袁大头甘肃</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/sunzhongshan.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">中华民国开国纪念币 孙小头</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/yuanshikai.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">中华民国开国纪念币 袁世凯</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/guangxu30.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">光绪30年湖北省造大清银币</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/jilin.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">
                吉林省造光绪元宝七钱二分</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/daqingyinbi.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">
                大清银币宣统三年曲须龙</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/guangdong.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">
                广东省造光绪元宝七钱二分错版</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/zhejiang.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">
                浙江省造光绪元宝七钱二分</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/hubei.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">
                湖北省造光绪元宝七钱二分</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/hunan.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">
                湖南省造光绪元宝七钱二分</p>
        </div>
    </div>
    <div style="padding: 10px 0 7px 0; border-bottom: 1px solid #e8e8e8;    display: flex;">
        <div style="margin-right: 15px;"><img src="../res/img/guizhou.jpg"></div>
        <div style="flex: 1;">
            <p style="color: black;font-weight: bold;font-size: 22px;line-height: 86px;margin-bottom: 14px">贵州省造银币 中华民国17年</p>
        </div>
    </div>
</div>

</div>
</body>
</html>