<script>
    $(function (){
        $.parser.parse('#mgtContentDiv');
    });

</script>
<div id="mgtContentDiv">
    <table id="memberView" class="easyui-datagrid" style="width:100%;height:auto"
           data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				toolbar: '#memberViewTool',
                singleSelect:true,
                idField: 'id',
			">
        <thead>
        <tr>
            <th data-options="field:'id',hidden:true,width:80">Id</th>
            <th data-options="field:'name',width:100">会员名</th>
            <th data-options="field:'password',width:100">密码</th>
            <th data-options="field:'tel',width:140">联系电话</th>
            <th data-options="field:'course',width:200">课程</th>
            <th data-options="field:'courseHour',width:50">课时</th>
            <th data-options="field:'courseFee',width:100">缴费金额</th>
        </tr>
        </thead>
    </table>
    <div id="memberViewTool" style="height:auto">
        <div style="float:left;">
            <span style="font-size:1rem">会员名</span>
            <input id="st_tool_nameTxt" class="easyui-textbox" style="width:100px;">
        </div>
        <div class="datagrid-btn-separator" style="margin-left:20px"></div>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
           onclick="memberSearch(1, 10)">查询</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
           onclick="openMemberPanel('add')">新增会员</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
           onclick="openMemberPanel('edit')">编辑会员</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
           onclick="deleteMember()">删除会员</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
           onclick="openCheckInPanel()">会员签到/缺席</a>
    </div>
    <div id="memberPagination" class="easyui-pagination"
         style="background:#efefef;border:1px solid #ccc;margin-top:10px;"
         data-options="total:0,pageSize:10,showRefresh:false,showPageList:false,onSelectPage:function(pageNumber, pageSize){ memberSearch(pageNumber, pageSize);}">
    </div>
    <input id="st_idTxt" type="hidden">
    <div id="memberUpdateView" class="easyui-dialog" title="编辑会员"
         style="width:300px;height:320px;display:none;padding:10px;"
         data-options="iconCls:'icon-save',resizable:false,modal:true,closed:true, buttons:'#memberButtonDiv'">
        <table style="width:100%">
            <tr>
                <td>会员名:</td>
                <td>
                    <input id="st_nameTxt" class="easyui-textbox" data-options="required:true" style="width:200px;">
                </td>
            </tr>
            <tr>
                <td>密码:</td>
                <td>
                    <input id="st_passwordTxt" class="easyui-textbox" data-options="required:true" style="width:200px;">
                </td>
            </tr>
            <tr>
                <td>联系电话:</td>
                <td>
                    <input id="st_telTxt" class="easyui-textbox" data-options="required:true" style="width:200px;">
                </td>
            </tr>
            <tr>
                <td>报名课程:</td>
                <td>
                    <input id="st_courseTxt" class="easyui-textbox" data-options="required:true" style="width:200px;">
                </td>
            </tr>
            <tr>
                <td>总计课时:</td>
                <td>
                    <input id="st_courseHourTxt" class="easyui-textbox" data-options="required:true" style="width:200px;">
                </td>
            </tr>
            <tr>
                <td>课程缴费:</td>
                <td>
                    <input id="st_courseFeeTxt" class="easyui-textbox" data-options="required:true" style="width:200px;">
                </td>
            </tr>
        </table>
    </div>
    <div id="memberButtonDiv">
        <div id="addMemberBtn" class="easyui-linkbutton right" data-options="iconCls:'icon-add'"
             onclick="addMember()">增加会员
        </div>
        <div id="updateMemberBtn" class="easyui-linkbutton right" data-options="iconCls:'icon-edit'"
             onclick="updateMember()">修改会员信息
        </div>
        <div class="clear"></div>
    </div>

    <div id="memberCheckInView" class="easyui-dialog" title="签到/缺席" style="width:300px;height:320px;display:none;padding:10px;"
         data-options="iconCls:'icon-save',resizable:false,modal:true,closed:true, buttons:'#memberCheckInBtnDiv'">

    </div>
    <div id="memberCheckInBtnDiv">
        <div id="checkInMemberBtn" class="easyui-linkbutton right" data-options="iconCls:'icon-add'"
             onclick="checkInMember()">签到
        </div>
        <div id="absenceMemberBtn" class="easyui-linkbutton right" data-options="iconCls:'icon-edit'"
             onclick="absenceMember()">缺席
        </div>
        <div class="clear"></div>
    </div>
</div>